.channel-row:hover{
  transform: translateY(-5px);
}

.channel-row {
  display: block;
  top: 0px;
  position: relative;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid white;
}

.channel-row:hover {
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: #f2f8f9;
}

.channel-row:hover:before {
  transform: scale(2.15);
}

.create-channel{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  height: 50vh;
}

.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popup-content {
  background: white;
  width: auto;
  max-width: 600px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  position: relative;
  border-left: 1px solid #ccc;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup-content {
    max-width: 90%;
  }
}

.no-channels {
  text-align: center;
  /* margin-top: 20px; */
}

.no-channel-img {
  width: 70vw;
  max-width: 900px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
