.create-channel{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popup-content {
  background: aliceblue;
  width: auto;
  max-width: 600px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  position: relative;
  border-left: 1px solid #ccc;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup-content {
    max-width: 90%;
  }
}

.no-channels {
  text-align: center;
}

.pageHeading {
  font-family: 'Google Sans', sans-serif;
  font-size: 2.5rem;
  color: #0f0f0f !important;
}

.no-channel-img {
  width: 70vw;
  max-width: 900px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} 

.channels {
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.channel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.channel-avatar {
  width: 100px;
  height: 100px;
  background-color: #435e9f;
  color: white;
  font-size: 40px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  border: none;
  background: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.delete-btn:hover {
  color: rgb(223, 137, 137);
}

.channelDesc {
  font-size: 14px;
  height: 100px;
  overflow: hidden;
}

.help-section {
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.help-section h4 {
  font-weight: bold;
  margin-bottom: 15px;
}
.help-section p {
  font-size: 14px;
  margin-bottom: 10px;
}
