.dropdown-toggle {
  width: 3rem;
}

.drpdown-item {
  max-width: max-content !important;
}

.nav-link:hover {
  color: rgb(71, 71, 192) !important;
}

.nav-link {
  color: #fff !important;
  padding: 8px 15px !important;
  border-radius: 5px !important;
}

.company {
  font-size: 1.5rem;
  color: #fff;
}

.acc-drop {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #40596e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}