.navbar-nav .nav-link {
    color: white !important;
    padding: 8px 20px !important;
    margin-right: 15px;
    border-radius: 5px !important;
    text-align: center;
    background: linear-gradient(to right, #0e2238, #0e2238) !important;
}

@media (max-width: 991px) {
    .navbar-nav .nav-link {
        margin-right: 10px;
    }
}

.navbar-nav .nav-link:hover {
    background: linear-gradient(to right, #2c5282, #1e3c72) !important;
}

.dropdown-menu {
    background: linear-gradient(to right, #0e2238, #0e2238) !important;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 6px #0e2238;
    text-align: center;
}

.dropdown-menu .dropdown-item {
    color: white !important;
    padding: 8px 15px !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease;
    text-align: center;
    display: block;
}

.dropdown-menu .dropdown-item:hover {
    background: linear-gradient(to right, #2c5282, #1e3c72) !important;
    color: #ffffff !important;
}

.dropdown-menu .dropdown-divider {
    background-color: #0e2238;
}
