# Node modules
node_modules/

# Environment variable files
.env

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# NPM package lock file (optional, depending on your workflow)
# package-lock.json

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build output directories
/dist
/build

# Dependency directories
bower_components/

# Temporary files
*.swp
*.bak