/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e4e4e4 !important;
  background-size: cover;
}

.app {
  display: flex;
  height: 100%;
}

.main-content {
  flex: 1;
  overflow: auto;
}